@page
@model TimeTrackingApp.Areas.Identity.Pages.Account.LoginModel

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Input.Email" class="form-label">Email address</label>
        <input type="email" class="form-control" placeholder="name@example.com" asp-for="Input.Email">
    </div>
    <div class="mb-3">
        <label asp-for="Input.Password" class="form-label">Password</label>
        <input type="password" class="form-control" rows="3" asp-for="Input.Password">
    </div>
    <div class="mb-3">
        <button type="submit" class=" btn btn-primary">Login</button>
    </div>
</form>
