@using TimeTrackingApp.Infrastructure.Models;

<div class="container mb-3">
    <h5 class="mb-3">Add new time track here</h5>
  
    @if (TrackingEvents != null)
    {
        <select class="form-select mb-3" @bind="TrackingEventId">
            @foreach (TrackingEventDto trackingEvent in TrackingEvents)
            {
                <option value="@trackingEvent.Id">@trackingEvent.Description</option>
            }
        </select>
    }

    <button class="btn btn-primary" @onclick="OnAddEntityAsync">Submit</button>
</div>

@code {
    [Parameter]
    public Guid TrackingEventId { get; set; }

    [Parameter]
    public List<TrackingEventDto> TrackingEvents { get; set; }

    [Parameter]
    public EventCallback<Guid> TrackingEventIdChanged { get; set; }

    [Parameter]
    public EventCallback<List<TrackingEventDto>> TrackingEventsChanged { get; set; }

    [Parameter]
    public EventCallback TimeTrackAdded { get; set; }

    public async Task OnAddEntityAsync()
    {       
        await TrackingEventIdChanged.InvokeAsync(TrackingEventId);
        await TimeTrackAdded.InvokeAsync();
    }
}
