@page "/dashboard"
@using TimeTrackingApp.Shared.TimeTrackComponents
@using TimeTrackingApp.Shared.TrackingEventComponents
@using TimeTrackingApp.Shared.TrackingEventTypeComponents

<PageTitle>Dashboard</PageTitle>

<div class="container-fill d-flex justify-content-center flex-wrap gap-4">
    <div class="rounded border flex-fill p-2">
        <TimeTrackComponent />
    </div>
    
    <div class="rounded border flex-fill p-2">
        <TrackingEventComponent />
    </div>

    <div class="rounded border flex-fill p-2">
        <TrackingEventTypeComponent/>
    </div>         
</div>


@code {

}
