@page "/"
@using TimeTrackingApp.Shared.TrackingEventComponents
@using TimeTrackingApp.Shared.TrackingEventTypeComponents
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Authorized</p>
    </Authorized>
    <NotAuthorized>
        <p>Not Authorized</p>
    </NotAuthorized>
</AuthorizeView>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask{ get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        AuthenticationState authenticationState = await AuthenticationStateTask;

        if (authenticationState.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/dashboard");
        }

        await base.OnAfterRenderAsync(firstRender);
    }  
}